<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/images/ArcadiaLogo.png" alt="Arcadia Zoo Logo" class="footer-logo-img">
        </div>
        <div class="footer-contact">
            <h3>Contact</h3>
            <p>Adresse: 666 rue de l’Enchanteur Merlin, 35380 PAIMPONT</p>
            <p>Téléphone: Tel: 01.23.45.67.89</p>
            <p>Email: Mail: zooarcadia@gmail.com</p>
        </div>
        <div class="footer-explore">
            <h3>Explorer</h3>
            <ul class="footer-explore-list">
                <li><a href="/">Accueil</a></li>
                <li><a href="/animaux">Animaux</a></li>
                <li><a href="/habitats">Habitat</a></li>
                <li><a href="/activites">Activité</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </div>
    </div>
</footer>