<header class="navbar">
    <div class="navbar-content">
        <img src="/images/ArcadiaLogo.png" alt="Arcadia Zoo Logo" class="navbar-logo">
        <nav>
            <ul class="nav-list">
                <li><a href="/">Accueil</a></li>
                <li><a href="/animaux">Animaux</a></li>
                <li><a href="/habitats">Habitats</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/Activités">Activités</a></li>
            </ul>
        </nav>
    </div>
    <div class="slogan">
        Un zoo familial au cœur de la forêt de Brocéliande, depuis 1959
    </div>
</header>